@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'BMJUA';
  src: url('/fonts/BMJUA_ttf.ttf') format('truetype');
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

* {
  margin: 0;
  padding: 0;
  color: inherit;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: BMJUA, sans-serif;
}

#mainImg {
  max-width: 1200px;
  animation: slide 5s ease-in-out infinite;
}

@keyframes slide {
  0%,
  100% {
    opacity: 1;
  }
}

.user-info-container {
  width: 650px;
  height: 1000px;
}
